@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root{
  /*--color-default:rgb(31 35 90);
  --color-second:rgb(125, 255, 186);
  --color-white:#fff;
  --color-body:#e4e9f7;
  --color-light:#000000;
  /***************/

  --primary: #eeeeee;
  --secondary: #227c70;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: #393e46;

  --shadow: 0px 2px 8px 0px var(--secondary-light);

 /* --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;*/
}




body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}



*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background: var(--grey);
	overflow-x: hidden;
}
html {
	overflow-x: hidden;
}

/*******************************************************************************************************************/


/*-------------------------------------------------------TEST SUB-MENU----------------------------------------------------------------------*/
/* Google fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.sidebar {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width:78px;
  background-color: #e7eaf0;
  z-index: 99;
  transition: all 0.5s ease;
  padding: 6px 14px;
}
.sidebar.open{
  width:310px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
  
}
.sidebar .logo_details #btn{
  color:var(--secondary);
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}




.sidebar .nav-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-list {
  overflow: visible;
}

.sidebar .nav-list::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-list li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  
}

.sidebar .nav-list li:hover {
 
  background-color: white;
  border-radius: 20px;
  
}

.sidebar .nav-list li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-list li .icon-link {
  display: block;
}

.sidebar .nav-list .sec  {
  color: var(--secondary);
 
}


.sidebar .nav-list li i {

  margin-right: 10px;
  margin-bottom: 5px;
  height: 45px;
  min-width: 48px;
  text-align: center;
  line-height: 50px;
  color:rgb(31 35 90);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
 
}


.sidebar.close .nav-list li i.arrow {
  display: none;
}

.sidebar .nav-list li.show i.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  
  
}

.sidebar .nav-list li a .link-name {
  color: rgb(31 35 90);
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s ease;
  
}

.sidebar.close .nav-list li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: white;
  display: none;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.sidebar .nav-list li.show .sub-menu {
  display: block;
}

.sidebar.close .nav-list li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-list li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  
}

.sidebar .nav-list li .sub-menu a {
  color: rgb(31 35 90);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
  
}

.sidebar .nav-list li .sub-menu a:hover {
 
  opacity: 1;
 
}

.sidebar .nav-list li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-list li .sub-menu .link-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-list li .sub-menu.blank {
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}





/*************************************************************************************************************************************/



/* CONTENT */
/*#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}*/




/* NAVBAR */

.content{
	position: relative;
  background-color: white;
	min-height: 100vh;
	top:0;
	left:50px;
	width: calc(100% - 50px);
	transition: all .5s ease;
	z-index: 2;
  }

  .content .header{
    background-color: #e7eaf0;
   
  }
  .content .text{
	display:inline-block;
	
	color:rgb(31 35 90);
	font-size: 25px;
	font-weight: 500;
	margin: 18px;
  margin-left: 13em;
  
	
  }
  
  .sidebar.open ~ .content{
	left:250px;
	width: calc(100% - 250px);
  }  
.content nav {
	height: 75px;
	width: 98%;
	margin-left: 28px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content:space-between;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

.left{
	display: flex;
	align-items: center;
  
}
.left img{
	
		margin-top: 7px;
		width: 150px;
		height:  70px;
	
}

.content nav a {
	color: var(--dark);
}
.content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
.content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
.content nav .nav-link:hover {
	color: var(--blue);
}

.profile-dropdown {
    position: relative;
    width: fit-content;
  }
  
  .profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 200px;
    border-radius: 50px;
    color: var(--black);
    /* background-color: white;
    box-shadow: var(--shadow); */
  
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
      border 0.3s;
  }
  
  .profile-dropdown-btn:hover {
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
  }
  
  .profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(../img/femelle.png);
    background-size: cover;
  }
  
  .profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: var(--green);
  }
  
  .profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
  }
  
  .profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: var(--white);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
  }
  
  .profile-dropdown-list hr {
    border: 0.5px solid var(--green);
  }
  
  .profile-dropdown-list.active {
    max-height: 500px;
  }
  
  .profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
  }
  
  .profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
  }
  
  .profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
  }
  
  .profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
  }

/* NAVBAR */





/* MAIN */


.main h4{
	color: grey;
	font-size:medium ;
	font-weight:normal;
	margin-left: 70px;
	margin-top: 20px;
 
}
.main h1{
	color:rgb(31 35 90);
	margin-left: 70px;
	margin-top: 10px;
	letter-spacing: 2px;
	font-size: 30px;
}

.prt1{
  display: flex;

}
.col1{
  background-image:url('../img/Moss.jpg'); 
  height:300px; 
  width:750px; 
  position:relative;
  border-radius: 15px;
  margin-left: 170px;
  margin-top: 40px;
}
.col1-in{
  position:absolute;
  top:75px;
  left:200px;
  font-size:200%;
  z-index:2;
}
b{
  color: #fff;
  font-size: 50px;
}
.col2{
  height:300px; 
  width:300px; 
  position:relative;
  border-radius: 15px;
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 10px;
  border: 2px solid rgb(25 85 96);
}
.col2 i{
  display: flex;
  justify-content: center;
  line-height: 50px; /* center the icon vertically in the container element */
  margin-left: 120px;
  margin-top: 70px; 
  font-size: 5em; /* adjust the size of the icon */
  width: 50px; /* adjust the width of the container element */
  height: 50px; /* adjust the height of the container element */
  color: #227c70;
  
}


.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  margin-left: 90px;
  margin-top: 60px;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 110px;
  
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }

 .card-header {
  border: 1px solid var(--secondary);
  background-color: var(--secondary-light);
  margin-left: 100px;
  margin-top: 35px;
  margin-right: 30px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: start;
  

 }

 .card-header i{
  line-height: 50px; /* center the icon vertically in the container element */
 margin-left: 70px;
  font-size: 1em; /* adjust the size of the icon */
  display: flex;
  align-items: center;
  color: #ad0609;
  
}
.card-header h4{
  margin-top: 3px;
  margin-left: 60px;
  color:rgb(31 35 90);
  letter-spacing: 2px;
  
}
.card-body{
  display: flex;
  margin-top: 45px;
  margin-left: 170px;
}
/*.col3 input{
  margin-left: 70px;
  width: 670px;
  height: 300px;
  border: 2px dashed rgb(31 35 90);
  background-color: rgb(248, 249, 253);
 
  background-repeat: no-repeat;
}*/
.col3 form{
  height: 300px;
  width: 550px;
  display: flex;
  
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed rgb(31 35 90);
  background-image: linear-gradient(to bottom, rgba(248, 249, 253, 0.8), rgba(248, 249, 253, 0.8)), url(../img/Upload.png);
  background-repeat: no-repeat;
  background-position:center; /* Add this line to center the background image */
  
}
.csv{
  
  margin-bottom:55px;
  margin-right: 10px;
}

.col3 form button{
  align-self: flex-end;
  margin-right: 25px;
  margin-top: 15px;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  border: 2px solid rgb(31 35 90);
  background-color: rgb(31 35 90);
  color: white;
  font-size: 16px;
  font-weight: 550;
  cursor:pointer;
}

.col3 form button:hover{
  background-color: #227c70;
}

.col4 .MY{
  display: flex;
  margin-left: 40px;
  
}
.col4 .MY label{
  font-size: 26px;
  font-weight: 600;
  color: rgb(31 35 90);
}
.col4 .MY input{
  margin-right: 70px;
  border-radius: 5px;
  border: 2px solid rgb(31 35 90);
  height: 30px;
  
}
.col4 .MY select{
  border-radius: 5px;
  border: 2px solid rgb(31 35 90);
  height: 30px;
  color: #165850;
}
.srch{
  display: flex;
  flex-direction:column;
  margin-left: 40px;
  margin-top: 50px;
  
  
}
.srch div{
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-around;
}
.srch hr{
  margin-bottom: 20px;
  margin-top: 25px;
  width: 180px;
}
.srch button{
  margin-bottom: 25px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  height: 30px;
  background-color: var(--secondary-light);
  color:rgb(31 35 90);
  letter-spacing: 2px;
}

/*************************************************************************/
/************ STYLE : TABLE DE VIEW.PHP *********************************/


.outer-wrapper {
  margin: 50px;
  margin-left: 70px;
  margin-right: 20px;
  border: 2px solid rgb(31 35 90);
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgb(31 35 90);
  max-width: fit-content;
  max-height: fit-content;
  background-color: rgb(230, 247, 244);

  
}
.table-wrapper {

  
  overflow-x: scroll ;
  scrollbar-color: #1f235a rgb(211 229 226);
  height: fit-content;
  max-height: 66.4vh;
  
  margin-top: 22px;
  
  margin: 15px;
  padding-bottom: 20px;
  
}


table {
  border: none;
  min-width: max-content;
  
  border-collapse: separate;
  border-spacing: 0px;    
  
}



table th{
  position: sticky; 
  top: 0px;
  
  background-color: rgb(21 80 95);
  color: rgb(255, 255, 255);
  
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  
  border: 1px solid rgb(255, 255, 255);

} 



table th, table td {
  
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  
}

table td {
  text-align: left;
  background-color: rgb(211 229 226);
  font-size: 15px;
  border: 1px solid rgb(255, 255, 255);
  padding-left: 20px;
  
}








footer{
  height: 100px;
}